ul {
	list-style: none;
	padding: 0;
    margin: 0;
}

li {
	margin: 5px 0;
    font-size: 2vh;
    line-height: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.building {
        margin-bottom: 3vh;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.title,
.progress {
	display: block;
	position: relative;
}

.title {
	font-size: 3vh;
    margin-bottom: 1vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.progress {
	height: 3vh;
    width: 100%;
	background: rgba(0, 0, 0, 0.2);
	overflow: hidden;

    .bar {
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        background: #7ED321;
        display: block;

        &.overflow {
            background: #A40027;
        }
    }

    .message {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 3vh;
        padding-left: 10px;
        font-size: 2vh;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.sleeping {

    width: 100%;
    height: 100%;
    
    .text,
    .animation {
        position: absolute;
        font-size: 3.5vh;
        text-align: center;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    span {
        color: #fff;
        position: absolute;
        top: -7vh;
        left: 40%;
        font-size: 8vh;
        opacity: 0;
        animation: sleep 9s infinite linear;

        &:nth-child(2n) {
            animation-delay: 3s;
        }
        &:nth-child(3n) {
            animation-delay: 6s;
        }
    }
}
@keyframes sleep {
  0% {
    transform: translate(0, 0) scale(0.3);
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  3% {
    opacity: 1;
  }

  50% {
    transform: translate(90%, -50%) scale(0.65);
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translate(180%, -100%) scale(1);
    opacity: 0;
  }
}